/* 
##################################
        GENERAL
##################################
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* 
##################################
        HEADER
##################################
*/
/* .style {
        display: inline-block;
        border-radius: 5px;
        background: #666;
        color: white;
        padding: 5px;
}


.example {
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;

} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.listContainer {
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}